.con{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 78vh;
    
}
.pla{
    
    align-self: center;
    justify-self: center;

    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius:45px;
    background-color: #2ecc71;
    font-size:45px;
    padding: 10px;
}