.new{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Lucida Sans Typewriter;
    margin-top: 3%;
    margin-bottom: 3%;
}
.bnn{
    background-color: #0c8f52;
    color: #fff;
    border:4px solid #fff;
    border-radius:8px;
    font-size: 20px;
    font-family:Lucida Sans Typewriter;
    margin: 3%;
    margin-bottom: 10%;
    padding: 0.8%;
}
.bnn:hover{
    color: #95afc0;
    border-color: #95afc0;
}
.letter{
    color: #fff;
    font-family:Lucida Sans Typewriter;
    font-size: 20px;
}
.ng{
    grid-column:1/3;
}
#ngame{
    margin-bottom: 7%;
}
@media screen and (max-width:600px){
    .person {
        grid-column: 1/3;
    }
    .compu{
        grid-column: 1/3;
    }
}
@media screen and (max-width:900px){
    .letter{
        font-size:28px;
    }
}